{% extends "AppBundle::base.html.twig" %}

{% block title %}Jak hodnotíme - LípaPije.cz{% endblock %}

{% block body %}
<h1>Jak hodnotíme</h1>

<script>
        $(function () {
            $('.parallax').parallax();
        });

    </script>



{% endblock %}
