//http://paletton.com/palette.php?uid=50x0s0kw0w0jyC%2BoRxVy4oIDfjr

@white: #FFF ;
@shadow: 0px 0px 0px rgba(0, 0, 0, 0);

*{
    box-sizing: border-box;
}

.big-center-button{
    margin: 0 auto;
    display: block;
    width: 313px;
    background-color: #409FFF;


}

.btn:hover, .btn-large:hover {
    background-color: #007fff;
}

.outer {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    //width: /*whatever width you want*/;
}


body{
    padding-bottom: 30px;
}
h1{
    font-size: 80px;
    color: #EA4857;
    text-shadow: @shadow;
    margin: 5px 0;
}

h3{
    font-size: 50px;
    color: #EA4857;
    text-shadow: @shadow;
    margin: 5px 0;
}

nav{
    background-color: #FFF;
    color: #000;
    ul a{
        color: inherit;
        font-size: 19px;
    }

    .brand-logo{
        color: #000;
    }

    #nav-mobile li {
        border: 1px solid #000;
        border-radius: 35px;
        height: 44px;
        margin-top: 8px;
        margin-left: 5px;
        line-height: 45px;
    }





}



.footer{
    position: fixed;
    height: 30px;
    width: 100%;
    background-color: #EE6E73;
    bottom: 0px;
}

.hoverable{
    box-shadow: none !important;
}

.overpage{
    padding: 20px 0;
    box-shadow: 0 0px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
}


.pub-card-wrapper{

    margin-bottom: 25px;
    padding: 9px;

    .pub-card{

        padding: 5px;
        background: #ffffeb;
        border-left: 4px solid;    
        border-radius: 3px;
        border-color: #4B4F58;
        -moz-transition: ease-in-out .2s all;
        -o-transition: ease-in-out .2s all;
        -webkit-transition: ease-in-out .2s all;
        transition: ease-in-out .2s all;  

        &:hover{
            background: #ffffd5;
        }

        h4{
            text-align: center; 
            padding: 10px 0 0 0;
            font-size: 50px;
        }



        .icon-wrapper{
            position: relative;

            .mapka_icon{            
                height: 49px;
                position: absolute;
                top: -21px;
                right: -51px;
            }
        }

        .popis-outer{
            min-height: 200px;
        }
        h5{
            text-align: center;
            font-size: 20px;
            i{
                font-size: inherit;
            }
        }

        .rank-table{


            h5{
                margin: 6px;
            }

            .star-full, .star-empty{
                width: 31px;
                height: 26px;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                display: block;
                float: left;
                position: relative;
                margin-bottom: 1px;
            }

            .star-full{                    
                background-image: url(../../img/icons/nova3.png);
            }    
            .star-empty{
                background-image: url(../../img/icons/star-empty.png);
            }

        }

        .popis{
            font-size: 18px;
            padding: 0px 6px;
            line-height: 21px;
        }

        .ikonka-piva-oddeleni{
            height: 44px;
            background-image: url(../../img/ikonky/pivko.png);
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 5px;
        }

        .piva-outer{
            min-height: 81px;
            .piva{            
                font-size: 18px;
                width: auto;
                margin: 0 auto;

                .nazevPiva{
                    padding-right: 19px;
                }

                h5{
                    font-size: inherit;
                    margin: 4px;
                }

            }
        }


        .atrakce{

            display: block;
            max-width: 266px;
            min-height: 102px;
            margin: 10px auto 0 ;

            padding-left: 27px;
            text-indent: -27px; 


            .ikonka-atrakce{
                height: 45px;
                width: 44px;
                margin: 0 3px;
                display: inline-block;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
            }

        }



    }


}






